#corpo{
    background-color: #1f1f1f;
    width: 25%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
fieldset{
    border-radius: 5px;
    color:white;
    margin: 10px;
}
label{
    color: white;
}
div{
    margin: 10px;
}
#nav{
    background-color: #1f1f1f;
}
